<%- include('./partials/header'); %> 

<h1>login here</h1>

<form action="/login" method="POST">
    <input type="text" name="username" id="" placeholder="username" autocomplete="off">
    <input type="password" name="password" id="" placeholder="password" autocomplete="off"> 
    <button>Login</button>
</form>

<%- include('./partials/footer'); %> 